<div class="sudo-wrap">
  <div class="sudo-board" id="sudo-board">
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
  <div class="sudo-cell" data-sudo-cell></div>
</div>

<div class="digital-box">
  <div class="digital-cell">1</div>
  <div class="digital-cell">2</div>
  <div class="digital-cell">3</div>
  <div class="digital-cell">4</div>
  <div class="digital-cell">5</div>
  <div class="digital-cell">6</div>
  <div class="digital-cell">7</div>
  <div class="digital-cell">8</div>
  <div class="digital-cell">9</div>
</div>

</div>

<div class="winning-message" id="winningMessage">
  <button id="restartButton">Restart</button>
</div>